{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Alex J Bryce{% endblock %}</title>
    {% block meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}


    <!-- Add additional CSS in static file -->
    <link rel="stylesheet" href="{% static 'css/portfolio.css' %}">
</head>

<body>
    <header>
        <h1>Alex J Bryce</h1>
        <nav>
            <div class="container-fluid">
                <div class="row">
                    <div class="navbar">
                        {% block sidebar %}
                        <ul>
                            <li><a href="{% url 'index' %}">About</a></li>
                            <li><a href="{% url 'project_list' %}">Projects</a></li>
                            <li><a href="{% url 'art_list' %}">Art</a></li>
                        </ul>
                        {% endblock %}
                    </div>
                </div>
            </div>

        </nav>
    </header>


    <div>
        {% block content %}{% endblock %}
    </div>


</body>

</html>