{% extends "base.html" %}

{% block content %}


<!-- {% for artifact in artifacts %}
<div class="project clearfix">
    <h3><a href="{{ artifact.get_absolute_url }}">{{ artifact.title }}</a></h3>
    <p>published: {{ artifact.published_date }}</p>
    {% for tag in artifact.tags.all %}
    <li> {{ tag.name }} </li>
    {% endfor %}
    <img src="../../{{ artifact.image }}">


    <p>{{ artifact.description|linebreaksbr }}</p>

</div>
{% endfor %} -->


{% for artifact in artifacts %}

<div class="card">
    <h5 class="card-title">{{ artifact.title }}</h5>
    <p class="published">{{ artifact.published_date }}</p>

    <div class="card-body">



        <img src="../../{{ artifact.image }}" alt="...">


        <div class="collapse" id="{{ artifact.slug }}">
            <div class="card-body">
                <p class="card-text">{{ artifact.description }}</p>
                <ul>
                    {% for tag in artifact.tags.all %}

                    <li>{{ tag.name }}</li>

                    {% endfor %}
                </ul>
            </div>






        </div>

        <a class="btn btn-primary" data-toggle="collapse" href="#{{ artifact.slug }}" role="button"
            aria-expanded="false">+</a>
    </div>


</div>
{% endfor %}
{% endblock %}