{% extends "base.html" %}

{% block content %}
<p>I have been developing Web-based solutions to solve real-world problems for over a decade. In 2007, recognizing a
    need for Artists in the Transgender community to display and celebrate their work, I was motivated to envision and
    create Trans-Genre, a user-based multi-media platform. Working next to some amazing developers, I was able to
    contribute to the overall Design & UI/UX of the site.
</p>
<p>From there, my passion for learning new technologies to solve real-world problems grew into a love for coding and
    software development. The Projects featured below offer some insight into the work I've done over the past 10+
    years.</p>
<div class="flex">
    {% for project in projects %}
    <div class="project card">
        <h3 class="card-title">{{ project.title }}
        </h3>
        <p class="published">{{ project.published_date }}</p>

        <div class="card-body">
            <div class="project-links">
                <ul>
                    {% for tag in project.tags.all %}
                    <li> {{ tag.name }} </li>
                    {% endfor %}

                    {% if project.has_website %}
                    <a class="demo" data-toggle="tooltip" data-placement="top" title="Demo" href="{{ project.url }}"
                        role="button" target="blank"><i class="fas fa-external-link-alt"></i></a>
                    {% endif %}
                    {% if project.has_github %}
                    <a class="github" data-toggle="tooltip" data-placement="top" title="Code"
                        href="{{ project.github }}" target="blank"><i class="fab fa-github fa-lg"></i></a>
                    {% endif %}
                </ul>
                <img src="../../{{ project.image }}" alt="...">
                <p>{{ project.description|truncatechars:250|safe }} <a class="btn btn-primary detail"
                        data-toggle="tooltip" data-placement="bottom" title="More" href="{{ project.get_absolute_url }}"
                        role="button" aria-expanded="false"><i class="fas fa-angle-right"></i></a></p>
            </div>


            <div class="card-body">



            </div>


        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}