{% extends "base.html" %}

{% block content %}


{% for project in projects %}
<div class="card">
    <h5 class="card-title"><a href="{{ project.get_absolute_url }}">{{ project.title }}</a></h5>
    <p class="published">{{ project.published_date }}</p>

    <div class="card-body">
        <img src="../../{{ project.image }}" alt="...">


        <div class="card-body">
            <p class="card-text">

                {{ project.description|linebreaksbr }}</p>
            <p>
                <a class="btn-success" href="{{ project.url }}" role="button" target="blank">Demo</a>

                <a href="{{ project.github }}" target="blank"><i class="fab fa-github fa-2x"></i></a>
            </p>
            <ul>
                {% for tag in project.tags.all %}
                <li> {{ tag.name }} </li>
                {% endfor %}
            </ul>

        </div>

        <a class="btn btn-primary" href="{{ project.get_absolute_url }}" role="button" aria-expanded="false">+</a>
    </div>
</div>
{% endfor %}

{% endblock %}