{% extends "base.html" %}

{% block content %}
 

{% for project in projects %}
    <div class="project clearfix">
        <h3><a href="{{ project.get_absolute_url }}">{{ project.title }}</a></h3>
        <p>published: {{ project.published_date }}</p>
    {% for tag in project.tags.all %}
        <li> {{ tag.name }} </li>
    {% endfor %}
        <img src="../../{{ project.image }}">
        <p>{{ project.description|linebreaksbr }}</p>
        <p><strong>Links:</strong><br>
            <a href="{{ project.url }}">Demo {{ project.title }} on heroku</a>
            <br>
            <a href="{{ project.github }}"> Check out {{ project.title }}'s code on github</a>
        </p>
    </div>
{% endfor %}

{% endblock %}
