{% extends "base.html" %}
{% block content %}
    <div class="page-container">
        <div class="content-wrap">
        

           

                      

<!-- Projects -->
   <!-- Projects library -->
<!-- <a href="" target="blank" alt=""></a> -->
<!-- <img src="" alt=""> -->
   <!-- Projects library -->
            
        <section class="resume-section contact">
            <h2>Contact:</h2>
            <address>
                <dl>
                    <dt><i class="fas fa-map-marker-alt"></i>Location</dt>
                    <dd>Chapel Hill, NC</dd>

                    <dt><a href="mailto:AjAlanaKaimi@gmail.com" target="_top" aria-label="email AJ"><i class="fas fa-envelope"></i>Email</a></dt>
                </dl>
            </address>
        </section>
        <section>
            <h2>Skills</h2>
            <ul>
                <li class="rating">
                    Expert
                    <ul class="skill-list">
                        <li class="skill"><i class="fab fa-html5"></i>HTML</li>
                        <li class="skill"><i class="fab fa-css3-alt"></i>CSS</li>
                        <li class="skill"><i class="fab fa-adobe"></i>Photoshop</li>
                    </ul>
                </li>
                <li class="rating">
                    Proficient
                    <ul class="skill-list">
                        <li class="skill"><i class="fab fa-adobe"></i>InDesign</li>
                        <li class="skill"><i class="fab fa-adobe"></i>Illustrator</li>
                    </ul>
                </li>
                <li class="rating">
                    Interested in learning
                    <ul class="skill-list">
                        <li class="skill"><i class="fab fa-python"></i>Python</li>
                        <li class="skill"><i class="fab fa-react"></i>React</li>
                        <li class="skill"><i class="fas fa-brain"></i>Machine Learning</li>
                        <li class="skill"><i class="far fa-heart"></i>Artificial Empathy</li>
                    </ul>
                </li>

            </ul>
        </section>
        <section>  
            <h2>Employment</h2> 
            <ol class="employ-list">
                <li class="employ">
                    <h3 class="company">Durham Coop Market</h3>
                    <p class="dates">April 2018 - February 2019</p>
                    <p class="position">Grocery Department Manager</p>
                    <p class="description">
                        Managed a team of 6 awesome employees focusing on workplace care, systems development, and inventory management.
                    </p>
                </li>
                <li class="employ">
                <h3 class="company">Weaver Street Market</h3>
                <p class="dates">April 2007 - April 2018</p>
                <p class="position">Systems Development Specialist
                </p>
                <p class="description">
                        Bacon ipsum dolor amet ad ball tip pariatur cow drumstick ex venison. Jerky ea meatloaf doner tri-tip fugiat porchetta andouille salami anim. Short loin officia elit consectetur quis. Anim et culpa tenderloin tail ut. Dolore bresaola hamburger short ribs, velit picanha commodo.
                </p>
                </li>
            </ol>
        </section>
        <section>  
            <h2>Education</h2> 
            <ol class="employ-list">
                <li class="educate">
                    <h3 class="school">Momentum</h3>
                    <p class="study">Full-Stack Web Development</p>
                    <p class="dates">February 2019 - May 2019</p>
                    <p class="description">Completed 3 month immersive program focusing on Python & Django</p>
                </li>
                <li class="educate">
                    <h3 class="school">Southwestern Illinois College</h3>
                    <p class="study">Various</p>
                    <p class="dates">Summer 2002 - Fall 2013</p>
                    <p class="description">Completed various courses to enrich skills and experience in Marketing, Communications, Graphic Design, and Web Development.</p>
                </li>
                <li class="educate">
                        <h3 class="school">Ranken Technical College</h3>
                        <p class="study">Associate in Architectural Technology</p>
                        <p class="dates">Fall 2002 - Fall 2005</p>
                        <p class="description">Studied Architectural Technology with a focus on environmental design. Developed and applied design strategies informed by the impact of organic and created environments on individual behavior and community wellbeing.</p>
                    </li>

            </ol>
             

            </section>

    <!-- Footer -->
            <footer class="footer">
            
                <i class="far fa-copyright">2019</i>
                    <a href="mailto:ajalanakaimi@gmail.com" target="_top" aria-label="email AJ"><i class="fas fa-envelope"></i></a>
                    <a href="https://www.instagram.com/alanakaimi_visions" target="blank" aria-label="AJ's Instagram" ><i class="fab fa-instagram"></i></a>
                    <a href="" aria-label="AJ's github"><i class="fab fa-github"></i></a>
            </footer>
        </div>
    </div>
{% endblock %}