* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.page-container {
    position: relative;
    min-height: 100%;
    border: 1px solid rgb(235, 232, 232);
    padding: 10px;
    border-radius: 10px;
}

.container-flow {
    display: flow-root;
}

.content-wrap {
    padding-bottom: 2.5rem;
}

/* Bootstrap mods: */

.navbar {
    padding: 0;
}

.navbar ul {
    padding: 0;
    margin-bottom: 0rem;
}

.card {
    margin-bottom: 15px;
    box-shadow: -2px 2px 5px rgba(87, 85, 85, 0.397);
}

.card .card-body {
    border: none
}

.card-body {
    padding: .5rem;
}

.card-body li {
    color: blue;
    list-style: none;
    display: inline;
    padding: 3px 5px;
    border-radius: 50px;
    border: 1px solid rgb(216, 215, 215);
    font-size: 12px;
}

.card-body img {
    width: 100%;
    border-radius: 5px;
    /* padding: 0px 10px; */
}

.card .btn {
    background-color: #e91eabd1;
    border-color: #e91eabd1;
    border-radius: 50%;
    padding: 1px 5px;
    float: right;
    font-size: 1.5rem;
    line-height: 1;
    box-shadow: -1px 1px 3px rgba(87, 85, 85, 0.397);
}

.card-title {
    margin: 5px 0px 0px 10px;
}

.carousel {
    max-width: 800px;
    height: 100%;
    min-height: 100%;
}

.carousel-item img {
    /* max-height: 60%; */
    max-width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */

}

.carousel-control-next,
.carousel-control-prev {
    color: #e91eabd1:
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: #e91eabd1;
    border-radius: 50%;
    padding: 5px;
}

.carousel-indicators {
    bottom: -40px;
}

.published {
    font-size: 12px;
    margin: 0px 0px 0px 10px;
}

/* Navigation */
header {
    margin: 2px;
    margin-bottom: 10px;
}

nav {
    list-style: none;
    display: inline;
}

nav li {
    padding-right: 25px;
    list-style: none;
    display: inline;
    justify-content: space-between;
    text-transform: uppercase;
}

nav a:active {
    text-decoration: none;
    color: rgb(192, 24, 24);
}

nav a:hover {
    color: rgb(23, 61, 184);
}

nav a:visited {
    color: black;
}


/* Universal styles */
h1 {
    text-decoration: underline;
    padding-bottom: 0px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

p {
    margin-left: 10px;
}


.flex {
    display: flex;
    flex-wrap: wrap;
}

.lighter {
    color: rgb(172, 182, 192);
}

/* Home page styles */
.home-pic {
    float: left;
    max-width: 45%;
    margin-right: 10px;
}

/* Icon styles */
i {
    padding-right: 5px;
}

.clearfix {
    overflow: auto;
}

/* Read more or less */
#section {
    width: 500px;
    height: 400px;
    word-wrap: break-word;
}

.moretext {
    display: none;
}

.project-content {
    margin-top: 65px;
}

.project-content li {
    color: blue;
    list-style: none;
    display: inline;
    padding: 3px 5px;
    border-radius: 50px;
    border: 1px solid rgb(216, 215, 215);
    font-size: 12px;
}

/* Project styles */

@media screen and (max-width: 500px) {
    /* .carousel {
        max-width: 100%;
        height: 300px;
    }

    .carousel-indicators {
        bottom: 0px;
    }

} */